<form action="productos.html" method="post" enctype="multipart/form-data">
    <input type="hidden">

    <app-label-input etiqueta="Nombre" tipo="text" error="El nombre debe estar rellenado y tener como máximo 45 caracteres"></app-label-input>
    <app-label-input etiqueta="Precio" tipo="number" [decimales]="2"></app-label-input>
    <app-label-input etiqueta="Descripción" tipo="textarea"></app-label-input>
    <app-label-input etiqueta="Categoría" tipo="select"></app-label-input>
    <app-label-input etiqueta="Fichero" tipo="file" tipoFichero="image/jpeg"></app-label-input>
    <app-label-input etiqueta="Guardar" tipo="boton" enlace="/admin/listado"></app-label-input>
</form>