<form action="productos.html" method="post" enctype="multipart/form-data">
    <input type="hidden">

    <jl-label-input etiqueta="Nombre" tipo="text" error="El nombre debe estar rellenado y tener como máximo 45 caracteres"></jl-label-input>
    <jl-label-input etiqueta="Precio" tipo="number" [decimales]="2"></jl-label-input>
    <jl-label-input etiqueta="Descripción" tipo="textarea"></jl-label-input>
    <jl-label-input etiqueta="Categoría" tipo="select"></jl-label-input>
    <jl-label-input etiqueta="Fichero" tipo="file" tipoFichero="image/jpeg"></jl-label-input>
    <jl-label-input etiqueta="Guardar" tipo="boton" enlace="/admin/listado"></jl-label-input>
</form>