<div class="alert alert-danger alert-dismissible fade show" role="alert">
    Error en el usuario o contraseña
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-success alert-dismissible fade show" role="alert">
    Has cerrado la sesión
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<form action="index.html" method="post">
    <app-label-input etiqueta="Email" tipo="email"></app-label-input>
    <app-label-input etiqueta="Contraseña" tipo="password"></app-label-input>
    <app-label-input etiqueta="Iniciar sesión" tipo="boton" enlace="/listado"></app-label-input>
</form>