<!DOCTYPE html>
<html lang="es" th:replace="~{_global :: global(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Listado de mantenimiento de productos</title>
</head>

<main>

	<table class="table">
		<thead class="table-secondary">
			<tr>
				<th>Nombre</th>
				<th class="text-end">Precio</th>
				<th class="text-end">Cantidad</th>
				<th class="text-end">Total</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="l: ${carrito.lineas}">
				<td th:text="${l.producto.nombre}">Nombre</td>
				<td class="text-end" th:text="${l.producto.precioFormateado}">Precio</td>
				<td class="text-end" th:text="${l.cantidad}">Cantidad</td>
				<td class="text-end fw-bold" th:text="${@texto.formatoEuro(l.total)}">Total</td>
			</tr>
		</tbody>
		<tfoot class="table-secondary">
			<tr>
				<td colspan=2></td>
				<td class="text-end fw-bold">Total:</td>
				<td class="text-end fw-bold" th:text="${@texto.formatoEuro(carrito.total)}">Total</td>
			</tr>
		</tfoot>
	</table>
</main>