<!DOCTYPE html>
<html lang="es" th:replace="~{_global :: global(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Listado de mantenimiento de productos</title>
</head>

<main>

	<table class="table">
		<thead class="table-secondary">
			<tr>
				<th>Nombre</th>
				<th class="text-end">Precio</th>
				<th class="text-end">Cantidad</th>
				<th class="text-end">Total</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="l: ${carrito.lineas}">
				<td th:text="${l.producto.nombre}">Nombre</td>
				<td class="text-end" th:text="${l.producto.precioFormateado}">Precio</td>
				<td>
					<form th:action="@{/carrito}" method="post">
						<input type="hidden" name="id" th:value="${l.producto.id}">

						<div class="input-group ms-auto" style="width: 9rem">
							<button class="btn btn-outline-secondary" name="menos">-</button>

							<input class="form-control" type="number" name="cantidad"
								th:value="${l.cantidad}" placeholder="Cantidad">

							<button class="btn btn-outline-secondary" name="mas">+</button>
						</div>
					</form>
				</td>
				<td class="text-end fw-bold"
					th:text="${@texto.formatoEuro(l.total)}">Total</td>
			</tr>
		</tbody>
		<tfoot class="table-secondary">
			<tr>
				<td colspan=2></td>
				<td class="text-end fw-bold">Total:</td>
				<td class="text-end fw-bold"
					th:text="${@texto.formatoEuro(carrito.total)}">Total</td>
			</tr>
		</tfoot>
	</table>

	<script>
		document.querySelectorAll('input[name="cantidad"]').forEach(input => input.addEventListener(
				"keydown", function(event) {
					if (event.key === "Enter") {
						event.preventDefault(); // Evita el comportamiento por defecto
						this.form.submit(); // Envía el formulario manualmente
					}
				}));
	</script>
	
	<!-- <script src="js/inputNumber.js" th:src="@{/js/inputNumber.js}"></script> -->
</main>