<!DOCTYPE html>
<html lang="es" th:replace="~{_global :: global(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Productos</title>
</head>

<main>
	<div class="row row-cols-1 row-cols-md-3 g-4">
		<div class="col" th:each="p: ${productos}">
			<div class="card h-100">
				<img src="https://picsum.photos/400/300" th:src="@{{imagenes}/{id}.jpg(imagenes=${imagenes},id=${p.id})}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title" th:text="${p.nombre}">Card title</h5>
					<p class="card-text">
						<a class="btn btn-primary" th:href="@{/detalle(id=${p.id})}">Ver detalle</a>
					</p>
				</div>
				<div class="card-footer">
					<small class="text-body-secondary" th:text="${p.precioFormateado}">Last updated 3 mins ago</small>
				</div>
			</div>
		</div>
	</div>

</main>
</html>
