@charset "UTF-8";

/* TIPOS DE LETRA */

@import url('fonts.css');

/* ICONOS FONTAWESOME */

@import url('all.min.css');

/* VARIABLES */

:root {
    --color-oscuro: black;
    --color-claro: white;
    --color-enlace: #4e4f97;

    --tono-secundario: 0;
    --saturacion-secundario: 0%;
    --luminosidad-secundario: 70%;

    --separacion-secundario: 20%;

    --color-secundario: hsl(var(--tono-secundario), var(--saturacion-secundario), var(--luminosidad-secundario));
    --color-secundario-claro: hsl(var(--tono-secundario), var(--saturacion-secundario), calc(var(--luminosidad-secundario) + var(--separacion-secundario)));
    --color-secundario-oscuro: hsl(var(--tono-secundario), var(--saturacion-secundario), calc(var(--luminosidad-secundario) - var(--separacion-secundario)));

    --fuente: "Roboto Flex", Verdana, Geneva, Tahoma, sans-serif;
    --fuente-titulo: "Anonymous Pro", Verdana, Geneva, Tahoma, sans-serif;
    --fuente-codigo: "Space Mono", 'Consolas', monospace;

    --margen: 0.5rem;
    --margen-grande: calc(var(--margen) * 2);

    --tamano-letra-menu: 1.2rem;

    --redondeado: 0.5rem;

    --borde: 1px solid var(--color-secundario-oscuro);
}

/* RESETEO */

* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-family: var(--fuente);

    margin: 0;
}

header {
    background-color: var(--color-oscuro);
    color: var(--color-claro);

    padding: var(--margen);
    text-align: center;

    & h1 {
        margin: 0;
    }
}

body>nav {
    background-color: var(--color-oscuro);

    padding: var(--margen);
    text-align: center;

    & ul {
        list-style: none;

        padding: 0;
    }

    & a {
        display: inline-block;

        color: var(--color-claro);
        margin: 0 var(--margen);

        padding: var(--margen);

        font-size: var(--tamano-letra-menu);

        &:hover {
            text-decoration: none;

            background-color: var(--color-claro);
            color: var(--color-oscuro);
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fuente-titulo);
    width: 100%;
}

p {
    line-height: calc(1rem + var(--margen));
    margin: var(--margen-grande) 0;
}

a {
    color: var(--color-enlace);
    text-decoration: none;

    &:before {
        content: '[';
    }

    &:after {
        content: ']';
    }

    &:before,
    &:after {
        opacity: 0.5;
        visibility: hidden;
    }

    &:hover {
        text-decoration: underline;

        &:before,
        &:after {
            visibility: visible;
        }
    }
}

pre {
    overflow: auto;

    font-family: var(--fuente-codigo);

    background-color: var(--color-secundario-claro);
    padding: var(--margen);
    border-radius: var(--redondeado);
    border: var(--borde);
}

img,
audio,
video,
iframe {
    width: 100%;
}

img,
video,
iframe {
    border-radius: var(--redondeado);
    border: var(--borde);
}

.proporcion {
    position: relative;

    padding-top: 100%;

    & iframe {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }

    &.p16x9 {
        padding-top: calc(9/16 * 100%);
    }

    &.p4x3 {
        padding-top: calc(3/4 * 100%);
    }

    &.p1x1 {
        padding-top: 100%;
    }
}

table {
    width: 100%;

    border-collapse: collapse;

    & caption {
        padding: var(--margen) 0;
        font-weight: bold;

        background-color: var(--color-secundario-claro);
        border: var(--borde);

    }

    & thead,
    & tfoot {
        background-color: var(--color-secundario);
    }

    & tr:nth-of-type(even) {
        background-color: var(--color-secundario-claro);
    }

    & td,
    & th {
        border: var(--borde);

        padding: var(--margen);

        text-align: start;
    }
}

main {
    padding: var(--margen);
}

dt {
    font-weight: bold;
    margin: var(--margen) 0;
}

dd {
    margin: 0 0 var(--margen-grande);
}

fieldset,
input:not([type=image]),
button,
select {
    border: var(--borde);
    border-radius: var(--redondeado);

    padding: var(--margen);

    margin: var(--margen) 0;

    width: 100%;
}

/* ESPECÍFICO */

#enlaces {
    ul {
        padding: 0;
    }

    li {
        margin: var(--margen) 0;
        list-style: none;
    }
}

.destacado {
    font-variant: small-caps;
    font-weight: bold;
    font-style: italic;
    text-transform: lowercase;
}

h2,
h3 {
    &::before {
        content: '<';
    }

    &::after {
        content: '>';
    }

    &::before,
    &::after {
        color: var(--color-secundario-oscuro);
    }
}

#tablas {

    & td,
    & th {

        &:first-child,
        &:last-child {
            text-align: end;
        }
    }
}

#multimedia>* {
    display: block;
    margin: var(--margen-grande) 0;
}

aside {
    background-color: var(--color-secundario-claro);

    padding: var(--margen);

    & ul {
        list-style: none;
        padding: 0;
    }

    & li {
        text-align: center;
        margin: var(--margen) 0;
    }
}

footer {
    background-color: var(--color-oscuro);
    color: var(--color-claro);

    padding: var(--margen);
    text-align: center;

    & #redes-sociales {
        list-style: none;

        padding: 0;

        display: flex;

        justify-content: center;

        & a {
            color: var(--color-claro);

            padding: var(--margen);

            &:hover {
                color: var(--color-secundario);
            }
        }
    }
}

#arriba {
    position: fixed;

    bottom: calc(var(--margen-grande) * 4);
    right: var(--margen-grande);

    & a {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--color-secundario-claro);
        color: var(--color-oscuro);

        padding: var(--margen);

        width: 2rem;
        height: 2rem;

        border-radius: 50%;
        border: var(--borde);
        box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.436);

        &::before,
        &::after {
            content: '';
        }

        &:hover {
            background-color: var(--color-secundario);
            text-decoration: none;
        }
    }
}

@media (min-width: 768px) {
    body>nav {
        position: sticky;
        top: 0;

        z-index: 10000;

        & ul {
            display: flex;
            flex-wrap: wrap;

            justify-content: center;
        }
    }

    main {
        padding: var(--margen-grande) calc(var(--margen-grande) * 2);
    }

    article {
        display: flex;
        flex-wrap: wrap;
    }

    section {
        scroll-margin-top: 9rem;

        width: 100%;
    }

    #parrafos {
        display: flex;
        flex-wrap: wrap;

        gap: var(--margen);

        &>*:not(h3) {
            width: calc(50% - var(--margen)/2);
        }

        & pre {
            &:first-of-type {
                width: calc(75% - var(--margen)/2);

                font-size: 90%;
            }
            
            &:last-of-type {
                width: calc(25% - var(--margen)/2);
            }
        }
    }

    #enlaces {
        width: 30%;
    }

    #listas {
        width: 70%;

        display: flex;
        flex-wrap: wrap;

        gap: var(--margen);
    }

    #formularios {
        display: flex;
        flex-wrap: wrap;

        gap: var(--margen);

        & form {
            width: calc(50% - var(--margen)/2);
        }
    }

    aside ul {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    #arriba {
        display: none;
    }
}