@if(!horizontal) {
<div class="card h-100">
    <img src="https://res.cloudinary.com/dsn31vddg/image/upload/c_fill,h_300,w_400/{{producto.id}}.jpg" class="img-fluid rounded-start" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">{{producto.nombre}}</h5>
        <p class="card-text">
            <jl-boton enlace="/detalle/{{producto.id}}" etiqueta="Ver detalle"/>
        </p>
    </div>
    <div class="card-footer">
        <small class="text-body-secondary">{{producto.precio | currency: 'EUR': 'symbol' : '1.2-2' : 'es'}}</small>
    </div>
</div>
}

@if(horizontal) {
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <advanced-image [cldImg]="imagen" class="img-fluid rounded-start" alt="..."/>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text">{{producto.descripcion}}</p>
                <p>{{producto.categoria.nombre}}</p>
                <div class="card-text">
                    <jl-boton enlace="/carrito" etiqueta="Añadir al carrito"/>
                </div>
                <p class="card-text">
                    <small class="text-body-secondary">{{producto.precio | currency: 'EUR': 'symbol' : '1.2-2' : 'es'}}</small>
                </p>
            </div>
        </div>
    </div>
</div>
}