<html th:replace="~{_global :: global(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">

<title>Listado de mantenimiento de productos</title>

<main>
	<p>
		<a href="producto.html" th:href="@{/admin/producto}">Añadir</a>
	</p>

	<ul th:each="p: ${productos}">
		<li><a href="producto.html"
			th:href="@{/admin/producto/{id}(id=${p.id})}" th:text="${p.nombre}">Portátil</a>
			: <span th:text="${p.precio}">1234,00€</span> <a
			href="productos.html"
			th:href="@{/admin/producto/{id}/borrar(id=${p.id})}">Borrar</a></li>
	</ul>
</main>