<table class="table">
    <thead class="table-secondary">
        <tr>
            <th>Nombre</th>
            <th class="text-end">Precio</th>
            <th class="text-end">Cantidad</th>
            <th class="text-end">Total</th>
        </tr>
    </thead>
    <tbody>
        @for(linea of [1, 2, 3, 4]; track linea) {
        <tr>
            <td>Nombre</td>
            <td class="text-end">Precio</td>
            <td>
                <jl-mas-menos [valorPorDefecto]="5" [max]="10" [min]="1" />
            </td>
            <td class="text-end fw-bold">Total</td>
        </tr>
        }
    </tbody>
    <tfoot class="table-secondary">
        <tr>
            <td colspan=2></td>
            <td class="text-end fw-bold">Total:</td>
            <td class="text-end fw-bold">Total</td>
        </tr>
    </tfoot>
</table>

<script>
    document.querySelectorAll('input[name="cantidad"]').forEach(input => input.addEventListener(
        "keydown", function (event) {
            if (event.key === "Enter") {
                event.preventDefault(); // Evita el comportamiento por defecto
                this.form.submit(); // Envía el formulario manualmente
            }
        }));
</script>

<!-- <script src="js/inputNumber.js" ></script> -->