<table class="table table-hover table-striped table-bordered">
    <thead class="table-secondary">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @for(producto of productos; track producto.id) {
        <tr>
            <td>{{producto.id}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio | currency: 'EUR': 'symbol': '1.2-2': 'es'}}</td>
            <td>
                <jl-boton enlace="/admin/detalle/{{producto.id}}" etiqueta="Editar" tamano="sm"/>
                <jl-boton enlace="/admin/listado" etiqueta="Borrar" tamano="sm" tipo="danger"/>
            </td>
        </tr>
        }
    </tbody>
    <tfoot class="table-secondary">
        <tr>
            <td colspan=3></td>
            <td>
                <jl-boton enlace="/admin/detalle" etiqueta="Añadir" tamano="sm"/>
            </td>
        </tr>
    </tfoot>
</table>