<nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/listado">Spring App Angular</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item"><a class="nav-link" routerLink="/listado">Principal</a></li>
      </ul>
      <ul class="navbar-nav mb-2 mb-sm-0">
        <li class="nav-item"><a class="nav-link" routerLink="/admin/listado">Admin Productos</a></li>
        <li class="navbar-text">No estás autenticado</li>
        <li class="navbar-text">Usuario</li>
        <li class="navbar-text">Roles</li>
        <li class="nav-item"><a routerLink="/login" class="nav-link">Inicio sesión</a></li>
        <li class="nav-item">
          <form class="d-flex mb-0" action="index.html" method="post">
            <button class="nav-link">Cierre de sesión</button>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">es</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">en</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container my-5">
  <router-outlet />
</main>

<footer class="text-bg-dark p-2 mt-auto"> &copy;2025 Javier Lete </footer>