<!DOCTYPE html>
<html lang="es" th:lang="${#locale.language}"
	th:replace="~{_global :: global(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Mensajes</title>
</head>

<main>
	<form th:action="@{/mensaje}" method="post" class="card mb-5 border-primary" sec:authorize="isAuthenticated()">
		<div class="card-body">
			<div class="d-flex">
				<div class="pe-3">
					<img class="border rounded rounded-circle"
						src="https://picsum.photos/40/40" alt="">
				</div>
				<div>
					<h5 class="card-title" th:if="${session.usuario != null}" th:text="${session.usuario.nombre}">Usuario</h5>
					<h6 class="card-subtitle mb-2 text-body-secondary"
						th:text="${#dates.format(#dates.createNow(), 'dd/MMM/yyyy HH:mm')}">Fecha</h6>
				</div>
			</div>
			<p class="card-text">
				<textarea name="texto" class="form-control" placeholder="Cuenta lo que piensas..."></textarea>
			</p>
			<div class="d-flex justify-content-end">
				<button class="btn btn-primary">
					<i class="bi bi-send"></i>
				</button>
			</div>
		</div>
	</form>

	<div class="card mb-3 border-primary" sec:authorize="!isAuthenticated()">
		<div class="card-body">
			<h5 class="card-title">
				No has iniciado sesión
			</h5>
			<p class="card-text">Para poder escribir mensajes en esta red necesitas registrarte</p>
		</div>
	</div>

	<div th:id="'m-' + ${iteracion.count}" class="card mb-3" th:each="mensaje, iteracion: ${mensajes}" th:object="${mensaje}">
		<div class="card-body">
			<div class="d-flex">
				<div class="pe-3">
					<img class="border rounded rounded-circle"
						src="https://picsum.photos/40/40" alt="">
				</div>
				<div>
					<h5 class="card-title" th:text="*{autor.nombre}">Usuario</h5>
					<h6 class="card-subtitle mb-2 text-body-secondary" th:text="${#temporals.format(mensaje.fecha, 'dd/MMM/yyyy HH:mm')}">Fecha</h6>
				</div>
			</div>
			<p class="card-text" th:text="*{texto}">Some quick example text to build on the card
				title and make up the bulk of the card’s content.</p>
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="bi bi-heart"></i> 5
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="bi bi-reply"></i> 5
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="bi bi-forward"></i> 5
					</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div>
		<a href="#" th:href="@{'/' + '?tamano=' + ${tamano_mas} + '#m-' + ${tamano}}">Más mensajes</a>
	</div>
</main>
</html>
